$green: #66C05D;
$black: #333333;
$white: #EFEFEF;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1110px;
	margin: auto;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-line {
	background-color: #E5E5E5;

	nav {
		height: 50px;
		width: 447px;
		font-size: 14px;
		cursor: pointer;
	}
}

.second-line {
	padding: 20px 0;
	border-bottom: solid #E5E5E5;

}

.logo {
	display: flex;
	align-items: center;

	span {
		margin-left: 20px;

		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.1em;

		color: $green;
	}
}

.contact {
	span {
		margin-right: 40px;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

	button {
		padding: 12px 26px;

		background-color: #ffffff;

		border: 2px solid $green;
		border-radius: 40px;

		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;

		cursor: pointer;

		transition-duration: 0.3s;
		&:hover {
			background-color: $green;
			color: #FFFFFF;
		}
	}
}

.third-line {
	padding: 30px 0;
	nav {
		width: 675px;
		margin: auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		div {
			cursor: pointer;
		}
	}
}

.sale {
	display: flex;
	height: 604px;
	background-image: url("../images/main/sale-bg.jpg") ;
	background-position: 50%;

	.offer {
		width: 308px;
		height: 219px;

		flex-direction: column;
		align-items: flex-start;

		.title {
			margin-bottom: 50px;

			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 56px;

			color: #FFFFFF;
		}

		.text {
			margin-bottom: 50px;

			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;

			color: #FFFFFF;
		}

		button {
			padding: 12px 26px;
			background: none;

			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.05em;

			border: 2px solid #FFFFFF;
			border-radius: 40px;

			color: #FFFFFF;

			cursor: pointer;

			transition-duration: 0.3s;
			&:hover {
				background-color: #FFFFFF;
				color: $green;
			}
		}
	}
}

.special {
	padding-bottom: 130px;
	background-color: $white;
	.title {
		display: block;
		padding: 80px 0 38px 0;

		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}
	.cards {
		margin-bottom: 100px;

		.card {
			display: flex;
			flex-direction: column;

			align-items: center;
			justify-content: space-evenly;

			padding: 25px 30px;
			margin-bottom: 20px;

			background-color: #fff;

			img {
				width: 125px;
				height: 166px;
				margin-bottom: 20px;
			}

			.description {
				width: 190px;
				margin-bottom: 20px;

				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-align: center;

				color: $black;
			}

			.price {
				margin-bottom: 20px;

				font-style: normal;
				font-weight: 500;
				font-size: 21px;
				line-height: 25px;
				text-align: center;
				letter-spacing: 0.05em;

				color: #000000;
			}

			button {
				padding: 9px 40px;

				background: $green;
				border-radius: 30px;
				border: 2px solid $green;

				color: #FFFFFF;

				cursor: pointer;

				transition-duration: 0.3s;

				&:hover {
					background-color: #FFFFFF;
					color: $green;
				}
			}
		}
	}
}

.invites {
	color: #FFFFFF;

	.invite-block {
		display: flex;
		justify-content: space-around;
		width: 540px;
		height: 212px;

		background-color: $green;

		.text {
			display: flex;
			flex-direction: column;


			.invite-title {
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 21px;
			}
			.description {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				margin: 25px 0;
			}

			input {
				width: 225px;
				height: 35px;

				padding: 9px 104px 9px 25px;

				background: #FFFFFF;
				border-radius: 30px;
				border: none;

				color: #C4C4C4;

			}

			button {
				padding: 9px 28px;

				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;

				text-align: center;

				background: $green;
				border: 2px solid #FFFFFF;
				border-radius: 30px;

				color: #FFFFFF;

				cursor: pointer;

				transition-duration: 0.3s;

				&:hover {
					background-color: #FFFFFF;
					color: $green;
				}
			}
		}
	}
}

.footer-contact {
	height: 120px;

	ul {
		display: flex;
		li {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 45px;
			height: 45px;

			border: 2px solid $green;
			border-radius: 50%;

			margin-right: 20px;

			list-style-type: none;

			cursor: pointer;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.address {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
	}

	.phone {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		margin-right: 40px;
	}

	button {
		padding: 12px 26px;

		background: none;

		border: 2px solid #66C05D;
		border-radius: 40px;

		cursor: pointer;

		transition-duration: 0.3s;
		&:hover {
			background-color: $green;
			color: #FFFFFF;
		}

	}
}

.footer-info {
	height: 64px;

	background-color: $white;

	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	color: #828282;
}



